*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 , h2{
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
span{
  color: hsl(229, 8%, 60%);
}
p{
  color: hsl(229, 8%, 60%);
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: hsl(229, 8%, 60%);
}
body{
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    /* font-size: 18px; */
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto 0 auto;
    width: 90%;
  }
  .open{
      display: none;
  }
  nav ul.nav{
      display: flex;
      flex-direction: row;
      list-style-type: none;
  }
  .nav li a{
      padding: 15px;
      text-decoration: none;
  }
  ul .active a{
    color: white;
      background-color: hsl(0, 94%, 66%);
      padding: 1em 1.5em;
  }
  .close{
      display: none;
  }
  .icon-nav{
      display: none;
  }
 .first-sec{
      display: flex;
      justify-content: space-between;
      margin-top: 12em;
  }
  .hero{
      background-color: hsl(231, 69%, 60%);
      /* height: 400px; */
      border-bottom-left-radius: 20em;
  }
  .hero img{
      position: relative;
      z-index: 10;
      bottom: 4em;
      right: 5em;
  }
  .first-sec .content{
      margin-left: 6em;
      margin-top: 2em;
  }
  .content h1{
      padding-right: 15em;
      padding-bottom: 1.2em;
  }
  .content p{
      padding-right: 12em;
    padding-bottom: 1.7em;
  }
  .content button{
      padding: 1em 2.4em;
      border: none;
  }
  .content button#chrome{
     background-color:hsl(231, 69%, 60%);
     
  }
  .content button#chrome a{
    color: whitesmoke;
  }
  .content button#fox{
    background-color:rgba(165, 158, 163, 0.5);
    margin-left: 0.5em;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,.25);
 }
  .features {
      width: 30%;
      text-align: center;
      margin: 3em auto 2em auto;
  }
  .features h2{
      padding-bottom: 1em;
  }
  .tabs-btn{
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-between;
      width: 50%;
      margin: 5em auto 3em auto;
      border-bottom: 1px solid hsl(229, 8%, 60%);
  }
  .tabs-btn button{
      padding: 1em 2em 1em 2em;
      border: none;
      background: none;
      color: hsl(229, 8%, 60%);
  }
  .tabs-btn button:hover{
      border-bottom: 2px solid hsl(0, 94%, 66%);
  }
  .tabs-btn .tab-1{
    border-bottom: 2px solid hsl(0, 94%, 66%);
}
 .tab-btn .tab1 button:hover{
    border-bottom: 2px solid hsl(0, 94%, 66%);
 } 
 .tabcontent button{
   color: whitesmoke;
      padding:1em 1.5em;
      border: none;
      background-color: hsl(231, 69%, 60%);
      border-radius: 8px;
 }
  .tabcontent1{
      display: flex;
      justify-content: space-between;
      margin-top: 8em;   
      margin-bottom: 5em;
      transform: translateX(0px);
  }
  .tabcontent2{
    display: flex;
    justify-content: space-between;
    margin-top: 8em;
    margin-bottom: 5em;
    display: none;
}
.tabcontent3{
    display: flex;
    justify-content: space-between;
    margin-top: 8em;
    margin-bottom: 5em;
    display: none; 
}
   .info1{
      padding-right:10em;
      margin-left:20em;
      margin-top: 3em;
      position: relative;
      bottom: 2em;
  }
  .info1 h3{
      padding-bottom: 1em;
  }
  .info1 p{
    padding-bottom: 2em;
  }
  .info2{
    padding-right:6em;
    margin-left:25em;
    margin-top: 5em;
    position: relative;
    bottom: 4em;
    right: 3em;
  }
  .info2 h3{
    padding-bottom: 1em;
}
.info2 p{
  padding-bottom: 2em;
}
  .info3{
    padding-right:10em;
    margin-left:25em;
    margin-top: 5em;
    position: relative;
    bottom: 4em;
    right: 1em;
  }
  .info3 h3{
    padding-bottom: 1em;
}
.info3 p{
  padding-bottom: 2em;
}
  .tab-img{
      background-color: hsl(231, 69%, 60%);
      border-bottom-right-radius: 10em;
  }
.tab-img img{
    /* width: 536px; */
    height: auto;
    position: relative;
    bottom: 4em;
    left: 9em;
}
.extention{
    width: 35%;
    text-align: center;
    margin: 4em auto 5em auto;
}
.extention h2{
    margin-bottom: 1em;
}
section.cards{
    text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.cards figure{
    box-sizing: border-box;
    background-color:whitesmoke;
    width: 250px;
    padding: 3em 1em 0 1em;
    padding-bottom: 3em;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
}
figure.card2{
    position: relative;
    top: 2em;
}
figure.card3{
    position: relative;
    top: 4em;
}
figcaption h4{
margin-bottom:  0.2em 0 0.3em 0;
}
figcaption img{
    width: 230px;
    position: relative;
    top: 2em;
}
figcaption button{
  color: whitesmoke;
    position: relative;
    top: 2em;
    margin-top: 2em;
    padding: 1em 2em;
    background-color: hsl(231, 69%, 60%);
    border: none;
}
aside{
    margin-top: 10em;
}

aside .faq{
    text-align: center;
    width: 30%;
    margin: 8em auto 4em auto;
}
.faq h3{
    margin-bottom: 1em;
}
.faqs{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto 1em auto;
    border-top: 1px solid hsl(229, 8%, 60%);
    padding-top: 1em;  
}
.faqs p{
color:hsl(229, 31%, 21%);
}
.faqs .arrow{
    padding-right: 1em;
}
.faqs .arrow:hover{
    transform: rotateX(180deg);
}
 .bottom{
    border-bottom: 1px solid hsl(229, 8%, 60%); 
    padding-bottom: 1em;
 }
 .faq-btn{
     margin-top: 2.5em;
     text-align: center;
    
 }
 .faq-btn button{
    padding:1em 2em;
    background-color: hsl(231, 69%, 60%);
    border: none;
 }
 footer{
     margin-top: 6em;
 }
 footer .foot1{
   /* font-size: 18px; */
     text-align: center;
     background-color: hsl(231, 69%, 60%);
     padding-top: 4em;
     padding-bottom: 4em;
 }
 .foot1 p{
  color: whitesmoke;
     margin: 1em auto 2em auto;
 }
 .foot1 h2{
  color: whitesmoke;
    margin: 0em auto 1em auto;
 }
.foot1 input[type='text']{
    padding: 1em 2em;
    border-radius: 5px;
    border: none;
    width: 20%;
}
.contact-us{
 color: whitesmoke;
    margin-left: 1em;
    border: none;
    padding: 1em 2em;
    background-color: hsl(0, 94%, 66%);
}
 footer .foot2{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: black;
     padding: 1em  0 0.5em 0;
 }
 .foot2 ul{
     list-style-type: none;
     display: flex;
     /* margin-right: 25em; */
 }
 .foot2 a{
     text-decoration: none;
     padding-left: 2em;
     padding-bottom: 0.3em;
 }
 div.logo2{
     margin-left: 6em;
 }
  .foot2 .media{
     margin-right: 6em;
 }



 @media screen and (max-width:900px){
  header{
      z-index: 10;
      margin-top: 0em;
      width: 100%;
  }
    nav{
    padding-top: 4em;
    margin-right:6em;
    width:100%;
    display: none;
    gap: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  nav ul.nav{
    flex-direction: column;
    gap: 2em;
    position: relative;
    right: 2em;
}

.nav li a{
   
    padding: 1em auto 1.5em auto;
    text-decoration: none;
}
ul .active a{
    display: inline-block;
    border: 1px solid white;
   background-color: transparent;
   padding: 1em auto 1.5em auto;
}
.icon-nav{
display: flex;
flex-direction: row;
padding-bottom: 1em;
margin-right: 3em;
}
.logo{
    margin-top: 1em;
    margin-left: 1em;
}
.icon-nav img{
    padding: 0.5em;
}
     .open{
         display: block;
         margin-right: 1em;
         margin-top: 1em;
     }
     .close{
       position: absolute;
       top: 1em;
       right: 1em;
       display: block;
     }
     .first-sec{
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
        margin-top: 7em;
 }
 .hero{
    background-color: hsl(231, 69%, 60%);
    max-width: 100%;
    border-bottom-left-radius: 20em;
}
.hero img{
    max-width: 100%;
    position: relative;
    bottom: 2em;
    right: 2em;
}
.first-sec .content{
    text-align: center;
     margin-left: 0em;
    margin-top: 2em; 
    line-height: 1.5em;
}
.content h1{
    padding-right: 0em;
    padding-bottom: 1.2em;
}
.content p{
    padding: 0 3em 0 3em;
  padding-bottom: 1.7em;
}
.content button{
    padding: 1em 2.4em;
    border: none;
}
.content button#chrome{
   background-color:hsl(231, 69%, 60%);
}
.content button#fox{
  margin-top: 1em;
}
.features {
    width: 80%;
    text-align: center;
    margin: 3em auto 2em auto;
}
.features h2{
    padding-bottom: 1em;
}
.tabs-btn{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 5em auto 3em auto;
    border-bottom: none;
   
}
.tabs-btn button{
    width: 200px;
    padding: 1em 2em 1em 2em;
    border: none;
    background: none;
}
.tabs-btn button:hover{
    border-bottom: 2px solid hsl(0, 94%, 66%);
}
.tabs-btn .tab-1{
  border-bottom: 2px solid hsl(0, 94%, 66%);
}
.tab-btn .tab1 button:hover{
  border-bottom: 2px solid hsl(0, 94%, 66%);
} 
.tabcontent button{
    padding:1em 1.5em;
    border: none;
    background-color: hsl(231, 69%, 60%);
    border-radius: 8px;
}
.tabcontent1{
    display: flex;
    gap: 4em;
    flex-direction: column;
    margin-top: 8em;   
    margin-bottom: 5em;
}
.tabcontent2{
  display: flex;
  gap: 4em;
  flex-direction: column;
  margin-top: 8em;
  margin-bottom: 5em;
  display: none;
}
.tabcontent3{
  display: flex;
  gap: 4em;
  flex-direction: column;
  margin-top: 8em;
  margin-bottom: 5em;
  display: none; 
}
 .info1{
     text-align: center;
     padding-right:0em;
  margin-left:0em;
  margin-top: 3em;
    position: relative;
    bottom: 0em;
  right: 0em;
}
.info1 h3{
    padding-bottom: 1em;
}
.info1 p{
  padding-bottom: 2em;
}
.info2{
    padding-right:0em;
    margin-left:0em;
    margin-top: 3em;
  text-align: center;
  position: relative;
  bottom: 0em;
  right: 0em;
}
.info2 h3{
  padding-bottom: 1em;
}
.info2 p{
padding-bottom: 2em;
}
.info3{
    text-align: center;
  padding-right:0em;
  margin-left:0em;
  margin-top: 3em;
  position: relative;
  bottom: 0em;
  right: 0em;
}
.info3 h3{
  padding-bottom: 1em;
}
.info3 p{
padding-bottom: 2em;
}
.tab-img{
  width: 80%;
    max-width: 100%;
    background-color: hsl(231, 69%, 60%);
    border-bottom-right-radius: 10em;
}
.tab-img img{
  /* width:200px; */
  max-width: 100%;
  height: auto;
  position: relative;
  bottom: 2em;
  left: 4em;
}
.extention{
  width: 80%;
  text-align: center;
  margin: 4em auto 5em auto;
}
.extention h2{
  margin-bottom: 1em;
}
section.cards{
  text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2em;
}
.cards figure{
  box-sizing: border-box;
  background-color:whitesmoke;
  width: 250px;
  padding: 3em 1em 0 1em;
  padding-bottom: 3em;
  box-shadow: 0 10px 10px -2px rgba(0,0,0,.25);
}
figure.card2{
  position: relative;
  top: 0em;
}
figure.card3{
  position: relative;
  top: 0em;
}
aside{
  margin-top: 10em;
}

aside .faq{
  text-align: center;
  width: 90%;
  margin: 8em auto 4em auto;
}
.faq h3{
  margin-bottom: 1em;
}
.faqs{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;  
}
.faqs .arrow{
  padding-right: 1em;
}
.faqs .arrow:hover{
  transform: rotateX(180deg);
}
.faq-btn button{
  padding:1em 2em;
  background-color: hsl(231, 69%, 60%);
  border: none;
}
footer .foot1{
   text-align: center;
   background-color: hsl(231, 69%, 60%);
   padding-top: 4em;
   padding-bottom: 4em;
}
.foot1 p{
   margin: 1em auto 2em auto;
}
.foot1 h2{
  margin: 0em auto 1em auto;
}
.foot1 input[type='text']{
  padding: 1em 2em;
  border-radius: 5px;
  border: none;
  width: 90%;
}
.contact-us{
 margin-top: 2em;
  width: 90%;
  margin-left: 0em;
  background-color: hsl(0, 94%, 66%);
}
footer .foot2{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background-color: black;
   padding: 1em  0 2em 0;
}
.foot2 ul{
   list-style-type: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1.5em;
   margin-right: 0em;
   margin-top: 2em;
}
.foot2 a{
    margin-top: 4em;
   padding-bottom: 2em;
  
}
div.logo2{
    padding-bottom: 1em;
   margin-left: 0em;
   color: white;
}
.foot2 .media{
   margin-right: 0em;
   padding-top: 4em;
}
}